*{
    font-family: 'STIX Two Text', serif;
    color: black;
    /* transition: 2s; */
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    display: grid;
    grid-template-areas: 
    "header"
    "header-select"
    "main"
    "footer";
    gap: 2.5px;
    grid-template-columns: auto;
    grid-template-rows: 70px auto auto auto;
}
.o-header, .o-main, .o-footer, .o-aside{
    background-color: #C3C3C3;
    /* filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A19061", endColorstr="#A19061", GradientType=1 ); */

}
.o-header{
    grid-area: header;
    z-index: 999999999999999;
    display: flex; 
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
}

    .o-header > .logo{
        display: flex;
        flex-direction: row;
    }
        .o-header > .logo > img{
            align-self: center;
            height: 55px;
            padding-top:1vh;
            padding-left: 1vh;
            padding-bottom: 1vh;
            
        }
        .o-header > .logo > h4{
            font-size: 20px;
            justify-self: center;
            align-self: center;
        }
    .o-header > .options > img{
        width: 40px;
        margin-top: 13px;
        margin-right: 10px;
        transition: transform 0.1s;

    }
    .header-select{
        display: none;
        grid-area: header-select;
    }
        .header-select > .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .header-select > .main > a {
                margin-top: 5px;
            }
            .header-select > .main:last-child{
                margin-bottom: 5px;
            }

.o-main{
    grid-area: main;
    background-color: #C3C3C3;
}
    .o-main > .card{
        background-color: #C3C3C3;
        margin: 20px;
        box-shadow: 2px 2px 15px 2px #000000;
    }
    .o-main > .card > .card-header{
        display: flex;
        flex-direction: column;
        background-color: rgb(163, 162, 162);
    }
    .o-main > .card > .card-body{
        background-color: rgb(143, 142, 142);
    }
        .o-main > .card > .card-header > h3 {
            text-align: center;
        }
        .o-main > .card > .card-body > ul{
            list-style-type: "→ ";
            list-style-position: inside;
        }
            .o-main > .card > .card-body > ul > li{
                margin-top: 10px;
                text-shadow: -1px 3px 8px rgba(0,0,0,0.53);
            }
    
            .o-footer{
                grid-area: footer;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding-top: 5px;
                font-size: 12px;
            }
            .o-footer > .contact > a {
                font-size: 20px;
            }
            .o-footer > .contact {
                display: flex;
            }
            .o-footer > .contact > .fa-instagram{
                display: flex;
                padding-right: 10px;
            }
            .o-footer > .center-side, .o-footer > .right-side{
                display: none;
                
            }
#size-blocker{
    display: none;  
}

/* Carousel-Pictures */
#carousel{
    margin-top: 10px;
}

/*
@media (min-width: 601px) {

#size-blocker{
    display: block;
    color: black;
}


}
*/
/* Main classes */
.unrotated {
transform: rotate(0deg);
}
.rotated{
transform: rotate(90deg);
}
.darkened {
filter: brightness(40%);
transition: all 0.2s;
}
.darkened:hover{
filter: brightness(20%);
}
/* unvisited link */
a:link {
color: black;
}

/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color: black;
}

/* selected link */
a:active {
color: goldenrod;
}
#wpp-btn > img{
    position: fixed; 
    width: 45px; 
    bottom: 5px; 
    right: 5px; 
    z-index: 9999999999999999;
}

@media (min-width: 768px){
    #carousel{
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media (min-width: 992px){
    #carousel{
        margin-left: 250px;
        margin-right: 250px;
    }
}
@media (min-width: 1600px){
    #carousel{
        margin-left: 600px;
        margin-right: 600px;
    }
}
@media (min-width: 1800px){
    #carousel{
        margin-left: 700px;
        margin-right: 700px;
    }
}
