*{
    font-family: 'STIX Two Text', serif;
    color: black;
    /* transition: 2s; */
}
@media (max-width: 600px) {
    body{
        margin: 0px;
        display: grid;
        grid-template-areas: 
        "header"
        "header-select"
        "main"
        "footer";
        gap: 2.5px;
        grid-template-columns: auto;
        grid-template-rows: 10vh auto 100vh auto;
    }
    .o-header, .o-main, .o-footer, .o-aside{
        background: hsla(44, 25%, 51%, 1);

        background: linear-gradient(90deg, hsla(44, 25%, 51%, 1) 0%, hsla(44, 25%, 51%, 1) 29%, hsla(44, 52%, 67%, 1) 100%);

        background: -webkit-linear-gradient(90deg, hsla(44, 25%, 51%, 1) 0%, hsla(44, 25%, 51%, 1) 29%, hsla(44, 52%, 67%, 1) 100%);

        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A19061", endColorstr="#A19061", GradientType=1 );

    }
    .o-header{
        grid-area: header;

        display: flex;
        
        position: sticky;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
    }
        
        .o-header > .logo{
            display: flex;
            flex-direction: row;
        }
            .o-header > .logo > img{
                align-self: center;
                height: 5vh;
                padding-top:1vh;
                padding-left: 1vh;
                padding-bottom: 1vh;
                
            }
            .o-header > .logo > h4{
                font-size: 20px;
                justify-self: center;
                align-self: center;
            }
        .o-header > .options > img{
            width: 50px;
            margin-top: 10px;
            margin-right: 10px;

        }
        .header-select{
            display: none;
            grid-area: header-select;
        }
            .header-select > .main {
                display: flex;
                flex-direction: column;
            }
   
    .o-main{
        grid-area: main;
    }
    .o-footer{
        grid-area: footer;
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
    }
    .o-footer > .center-side, .o-footer > .right-side{
        display: none;
        
    }
    #size-blocker{
        display: none;  
    }
}
@media (min-width: 601px) {

    #size-blocker{
        display: block;
        color: black;
    }


}